In [1]:
import pandas as pd
from sklearn import tree
from treeviz import tree_print
from sklearn.metrics import accuracy_score

In [40]:
df = pd.read_csv("popcorn.csv")

In [41]:
df.head()

   Unnamed: 0  Unpopped    Brand  Trial
0           1        26  Orville      1
1           2        35  Orville      2
2           3        18  Orville      3
3           4        14  Orville      4
4           5         8  Orville      5

In [43]:
features_df = df.drop(['Brand','Trial'],axis = 1)

In [44]:
target_df = pd.DataFrame(df['Brand'])
target_df.head()

     Brand
0  Orville
1  Orville
2  Orville
3  Orville
4  Orville

In [45]:
dtree = tree.DecisionTreeClassifier(criterion='entropy')

In [46]:
dtree.fit(features_df,target_df)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [47]:
tree_print(dtree,features_df)

if Unnamed: 0 =< 6.5:
  |then Orville
  |else Seaway
<->
Tree Depth:  1

In [48]:
predict_array = dtree.predict(features_df)
predicted_labels = pd.DataFrame(predict_array)
predicted_labels.columns = ['Brand']

In [49]:
predicted_labels.head()

     Brand
0  Orville
1  Orville
2  Orville
3  Orville
4  Orville

In [50]:
target_df.head()

     Brand
0  Orville
1  Orville
2  Orville
3  Orville
4  Orville

In [51]:
predicted_labels.equals(target_df)

True

In [52]:
print("Our model accuracy is: {}".format(accuracy_score(target_df,predicted_labels)))

Our model accuracy is: 1.0