In [1]:
import pandas as pd
from sklearn import tree
from treeviz import tree_print
from sklearn.metrics import accuracy_score

In [28]:
df = pd.read_csv("tennis_numeric.csv")

In [29]:
df.head()

,outlook_sunny,outlook_overcast,outlook_rainy,temperature,humidity,windy,play
0,1,0,0,85,85,0,no
1,1,0,0,80,90,1,no
2,0,1,0,83,86,0,yes
3,0,0,1,70,96,0,yes
4,0,0,1,68,80,0,yes

In [30]:
features_df = df.drop(['play'],axis = 1)

In [31]:
target_df = pd.DataFrame(df['play'])
target_df.head()

  play
0   no
1   no
2  yes
3  yes
4  yes

In [32]:
dtree = tree.DecisionTreeClassifier(criterion='entropy')

In [33]:
dtree.fit(features_df,target_df)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [34]:
tree_print(dtree,features_df)

if outlook_overcast =< 0.5:
  |then if humidity =< 82.5:
  |  |then if temperature =< 66.5:
  |  |  |then no
  |  |  |else yes
  |  |else if humidity =< 95.5:
  |  |  |then no
  |  |  |else yes
  |else yes
<------->
Tree Depth:  3

In [35]:
predict_array = dtree.predict(features_df)
predicted_labels = pd.DataFrame(predict_array)
predicted_labels.columns = ['play']

In [36]:
predicted_labels.head()

  play
0   no
1   no
2  yes
3  yes
4  yes

In [37]:
target_df.head()

  play
0   no
1   no
2  yes
3  yes
4  yes

In [38]:
predicted_labels.equals(target_df)

True

In [39]:
print("Our model accuracy is: {}".format(accuracy_score(target_df,predicted_labels)))

Our model accuracy is: 1.0